asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
Flask==1.0.2
idna==2.7
imbalanced-learn==0.4.3
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.3
numpy==1.15.4
plac==0.9.6
preshed==2.0.1
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
regex==2018.1.10
requests==2.20.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
spacy==2.0.16
thinc==6.12.0
toolz==0.9.0
tqdm==4.28.1
ujson==1.35
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
xgboost==0.81
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.0.0/en_core_web_lg-2.0.0.tar.gz
