body{
  background-color: #146eb4;
  font-style: roboto;
  font-size: large;
}

h1, h2 {
  text-align: center;
}

.review-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
  margin: 0 auto;
}

.review-input textarea{
  width: 100%;
  margin: 20px 0px;
  height: 10em;
  border-radius: 5px;
}

.review-input button{
  height: 2.5em;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
}

.table{
  padding: 10px;
  background-color: #ff9900;
  width: 66%;
  margin: 20px auto;
  border: 1px solid black;
}

/* .imporved_comment{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: yellow;
  width: 66%;
  margin: 20px auto;
}

.improved_comment_prob{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: yellow;
  width: 66%;
  margin: 20px auto;
} */
/* .smile{
  display: flex;
  justify-content: center;
  margin: 0 auto;
} */
