dill==0.2.8.2
Flask==1.0.2
imbalanced-learn==0.4.3
nltk==3.3
regex==2018.1.10
scikit-learn==0.20.0
spacy==2.0.16
xgboost==0.81
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz
